html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* //1rem = 10px; 10px/16 = 62.5%; */
}

body {
  font-size: 1.6rem;
}

.h1,
.h2,
.h3.h4,
.h5,
.h6,
p {
  line-height: 1.5;
}

.h1 {
  font-size: 3.6rem;
}
.h2 {
  font-size: 3.2rem;
}
.h3 {
  font-size: 3rem;
}
.h4 {
  font-size: 2.6rem;
}
.h5 {
  font-size: 2rem;
}
.h6 {
  font-size: 1.8rem;
}
.para {
  font: 1.6rem;
}

.color-primary{
  color: var(--primary);
}
.color-secondary{
  color: var(--secondary);
}
.color-white{
  color: var(--white);
}
.color-black{
  color: var(--black);
}