/* ======================== display properties ======================== */
/* flex properties */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
/* flex properties */

/* widths */
.max-w-100{
    max-width: 100%;
}
.w-100{
    width: 100%;
}
/* widths */

/* block, inline and none */
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-none{
    display: none;
}
/* block, inline and none */